html, body {
	background-color: whitesmoke;
	color: #222222;
}
#commentEnterArea,#compareLink,#compareBox,#signOutButton{
	display:none;
}
body {
	margin-top: 70px;
}

#brand-name {
    font-family: 'Pacifico', cursive;
    font-size: 18pt;
    color: whitesmoke;
}

#brand-name:hover {
    color: #9d9d9d;
    cursor: pointer;
}

header {
	height: 30%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: black;
	font-weight: bold;
	display: flex;
	width: 100%;
	height: 51%;
}

#header-text {
	align-self: center;
	margin: auto;
	font-size: 56pt;
	color: whitesmoke;
}

hr {
	margin: 10px;
}

h2, h3 {
	margin: 0px;
	display: flex;
}

.top-info {
	font-weight: bold;
}

#compare-box {
	height: 70px;
	display: flex;
}

#compare-button {
	align-self: center;
	width: 60%;
	min-width: 90px;
}

.glyphicon {
	align-self: center;
	margin-right: 10px;
}
.glyphicon.overview {
	margin: 12px;
	font-size: 21pt;
	text-align: center;
}

.row {
	margin: 0px;
}

.row.ninety {
	margin: auto;
	width: 90%;
}

.panel {
	margin: 0px;
	padding-top: 10px;
	border: 1px solid #E6E9ED;
}

.col-sm-2 {
	padding-top: 15px;
}

.col-sm-10 {
	padding-top: 15px;
	padding-left: 0px;
	padding-right: 0px;
	display: flex;
}

.small-info {
	margin-left: 30px;
}

.margin10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.rating-bar {
	background-color: antiquewhite;
	width: 80%;
	display: flex;
	margin-top: 16px;
	margin-bottom: 16px;
}

.my-progress-bar {
	background-color: #333333;
	height: 17pt;
}

.progress-text {
	width: 15%;
	text-align: center;
	align-self: center;
	margin-top: 16px;
	margin-bottom: 16px;
	font-weight: bold;
}

p {
	line-height: 2;
	font-size: 12pt;
}

#commentText{
	width: 100%;
	height: 120px;
}

.lessStars{
	color: #b44545;
	margin: 0px;
	padding: 0px;
	font-size:20px;
}
.threeStars{
	color: #9A804C;
	margin: 0px;
	padding: 0px;
	font-size:20px;
}
.greaterStars{
	color: #80ba52;
	margin: 0px;
	padding: 0px;
	font-size:20px;
}
h4.commentUserName{
	font-weight:bold;
	width:100%;
}
p.attHeader{
	margin: 0px;
	margin-right:auto;
	width:100px;
}
div.starContainer{
	display: flex;
	display: -webkit-flex;
	-moz-display: flex;
	width:300px;
	margin: 0px;
	padding:0px;
}
div.starContainer div{
	margin: 0px;
	margin-right:auto;
	width: 100px;
	padding-top:4px;
} 
div.commentPanel{
	word-wrap: break-word;
	display:flex;
}
div.commentContainer{
	flex:2;
	word-wrap: break-word;
}

/***** Modal *****/

.modal-content {
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	border: 0;
	text-align: left;
}

.modal-header {
	padding: 25px 25px 15px 25px;
	background: #fff;
	border: 0;
	border-bottom: 1px solid #ddd;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
}

.modal-header .close {
	font-size: 36px;
	color: #888;
	font-weight: 300;
	text-shadow: none;
	opacity: 1;
}

.modal-title {
	margin-bottom: 10px;
	line-height: 30px;
}

.modal-body {
	padding: 25px 25px 30px 25px;
	background: #eee;
	text-align: left;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
}

.modal-body img {
	margin-bottom: 15px;
}

.modal-body form textarea {
	height: 100px;
}

.modal-body form .input-error {
	border-color: #fd625e;
}
