#header-text1, #header-text2 {
	align-self: center;
	margin: auto;
	font-size: 56pt;
	color: #222222;
	font-weight: bold;
	padding-left: 25px;
	text-align:center;
}
h1,h2,h3,h4,h5,h6{
	margin: 0px;
}
.centerText{
	text-align: center;
}
.small-infoPushLeft{
	padding-right: 97px;
}
.small-infoPushRight{
	padding-left: 71px;
}
.hide-content{
	margin-left: 10px;
	display: none;
}
@media screen and (min-width: 991px) and (max-width:1242px) {
	.small-infoPushLeft{
		padding-right: 0px;
	}
	.small-infoPushRight{
		padding-left: 0px;
	}
	.centerText{
		text-align: center;
	}
}

@media screen and (max-width:991px){
	.small-infoPushLeft{
		padding-right: 0px;
	}
	.small-infoPushRight{
		padding-left: 0px;
	}
	.centerText{
		text-align: left;
	}
	.panel{
		margin-top:20px;
	}
	.hide-content{
		display:block;
	}
}
