html, body {
	background-color: whitesmoke;
	color: #222222;
}
#compareLink,#signOutButton{
	display:none;
}
body {
	margin-top: 70px;
}

#brand-name {
    font-family: 'Pacifico', cursive;
    font-size: 18pt;
    color: whitesmoke;
}

#brand-name:hover {
    color: #9d9d9d;
    cursor: pointer;
}

.glyphicon {
	align-self: center;
	margin-right: 10px;
}

@media (min-width:768px) {

}
@media screen and (max-width:850px){

}
